*{
    box-sizing: border-box;
}

body{
    background-color: rgb(230, 220, 130);
    margin: 20px;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 18px;
}
header {
    font-size: large;
    color: black;
    background-color: rgb(243, 109, 212);
    text-align: center;
}
.btn{
    font-size: 1.5rem;
    color: black;
    display: block;
    border: none;
    padding: 12px 20px;
    width: auto;
    background-color: rgb(134, 114, 160);
    text-align: center;
}
.btn:hover{
    color:lavender;
    background-color: rgb(164, 156, 211);
    box-shadow:black 2px;

}
input{
    width: 100;
    padding: 12px 20px;
}
.future-head{
   font-size: 30px;
   text-align: left;
   color:rgb(235, 81, 163)
}
.column4{
    float: left;
    width: 15%;
    padding: 0 10px;
    display: inline;
    background-color: rgb(153, 62, 173);
    margin: auto;
}
.current-weather{
    float: right;
    position: absolute;
}
#weather-display{
    position: absolute;
    right: 0px;
    width: 300px;
    border: 3px solid #ec579d;
    padding: 10px;
    

}
.span{
    display: inline;

}