/* body background */
body {
    background-color: #f09af5;
}

/* header gradient background */
.bg-grad {
    background: linear-gradient(to left, #20084B, #a1edb5);
}
/* search btn */
.btn-search {
    color: #e11ade;
    background-color: #050505;
}
.btn-search:hover {
    color: white;
    background-color: #4787cc;
}
/* history btn background */
.btn-history {
    background-color: #6ad9e7;
}
/* 5 days card background */
.bg-card {
    background-color: #b877bb;
}
/* icon size */
.weather-icon {
    height: 50px;
}
/* message indent */
#message p {
    text-indent: 5px;
}